<form method="post" action="{{ path('annoyance_zone_delete', {'id': annoyance_zone.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annoyance_zone.id) }}">
    <button class="btn">Delete</button>
</form>
