{% extends 'base.html.twig' %}

{% block title %}Medical Record{% endblock %}

{% block body %}
    <h1>Enregistrement des données</h1>
    {{ form(form) }}

<button type="submit" class="btn" >enregistrer</button>
{% endblock %}
