{% extends 'base.html.twig' %}

{% block title %}Medical Record{% endblock %}

{% block body %}
    <h1>Enregistrement des données</h1>
    <h2>
        Votre douleur est situé au niveau de : {{ zone.name }}
    </h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn" >Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
